/* src/styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 5px;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevent scrolling */
}

canvas {
  display: block; /* Remove default inline-block spacing */
}
